.custom-nav-link {
  color: #bbb;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
}

.custom-nav-link:hover {
  color: #fff;
  background-color: #495057;
  text-decoration: none;
}

.custom-nav-link.active {
  color: #fff;
  background-color: #0d6efd; /* Azul Bootstrap */
  border-color: #0d6efd;
  box-shadow: 0 0 8px rgba(13, 110, 253, 0.6);
}
